
.custom-range::-webkit-slider-thumb {
  background: red;
}

.custom-range::-moz-range-thumb {
  background: red;
}

.custom-range::-ms-thumb {
  background: red;
}

/*#loopButton {*/

/*}*/

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.time-picker {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  max-width: 200px;
}

.timeSeparator {
  border-top: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
}

#startingSecond, #endingSecond {
  width: 1em;
  border-left: none;
}
#startingMinute, #endingMinute {
  border-right: none;
}
